<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client - {{ client.name }}</title>
</head>
<body>
<article class="client">
    <header>
        <h1>{{ client.name }}</h1>
    </header>
    <div>
        <p>No other details available at this time.</p>
    </div>
</article>
</body>
</html>
